<%- include('header') %>
    <!-- partial:partials/_navbar -->
    
    <%- include('navbar') %>
    
    
    
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar -->
      <% if(role=="Admin") { %>
        <%- include('Admin_sidebar') %>
        <% } else { %>
          <%- include('sidebar') %>
          <% } %>
      <!-- partial -->
      <div class="main-panel">        
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">View Supplier Details</h4>
                  <p class="card-description">
                      <% if(message.length > 0) { %>
                      <%= message %>
          <% } %></h6>
                  </p>
                  <form class="forms" method="POST" >
                    
                    <div class="form-group row">
                      <div class="col-md-6 row"> 
                      <label for="supplierId" class="col-sm-3 col-form-label">Supplier Id:</label>
                      <div class="col-sm-9">
                        <input type="text" maxlength="10" name ="supId"  class="form-control" id="supplierId" placeholder="supplier Id"  value=" <% if(supplierDetails !== null) { %>
                          <%= supplierDetails.SupplierId %>
              <% } %>">
                      </div>
                      </div>
                      <div class="col-md-6 row"> 
                        <div class="col-sm-12">
                        <button type="submit" formaction="edit_supplier"  class="col-sm-5  btn btn-sm btn-primary mr-2">Submit</button>
                        </div>  </div>
                        <div class="col-md-6 row"> 
                            <label for="date" class="col-sm-3 col-form-label">Date:</label>
                            <div class="col-sm-9">
                              <input name="date" contenteditable="true" class="form-control" id="date" placeholder="Date of Registration"    
                               value=" <% if(supplierDetails !== null) { %>
                                  <%= supplierDetails.Date %>
                      <% } %>">
                   
                            </div>
                            </div>
                            <div class="col-md-6 row"> 
                              <label for="companyName" class="col-sm-3 col-form-label">Company</label>
                              <div class="col-sm-9">
                                <input name="companyName" contenteditable="true" class="form-control" id="companyName" placeholder="Name of Organization"    
                                 value="<% if(supplierDetails !== null) { %>
                                    <%= supplierDetails.SupplierCompanyName %>
                        <% } %>">
                     
                              </div>
                              </div>
                          <div class="col-md-6 row"> 
                            <label for="companyEmail" class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                              <input name="companyEmail" contenteditable="true" class="form-control" id="companyEmail" placeholder="Company's Email" value="<% if(supplierDetails !== null) { %>
                                <%= supplierDetails.SupplierCompanyEmail %>
                    <% } %>"> 
                            </div>
                        </div>
                        <div class="col-md-12 row"> 
                          <p class=" card-description">
                          Contact Person
                        </p>
                        
                      </div>
                        
                      <div class="col-md-6 row"> 
                        <label for="lastName" class="col-sm-3 col-form-label">Last Name</label>
                        <div class="col-sm-9">
                          <input name="lastName" contenteditable="true" class="form-control" id="lastName" placeholder="Last Name"  
                            value="<% if(supplierDetails !== null) { %>
                            <%= supplierDetails.supplierLastName %>
                <% } %>">
                        </div>
                        </div>
                        <div class="col-md-6 row"> 
                          <label for="firstName" class="col-sm-3 col-form-label">First Name</label>
                          <div class="col-sm-9">
                            <input name="firstName" contenteditable="true" class="form-control" id="firstName" placeholder="First Name" value="<% if(supplierDetails !== null) { %>
                              <%= supplierDetails.SupplierFirstName %>
                  <% } %>">
                          </div>
                          </div>
                          <div class="col-md-6 row"> 
                            <label for="otherName" class="col-sm-3 col-form-label">Other Name</label>
                            <div class="col-sm-9">
                              <input  name ="otherName" contenteditable="true" class="form-control" id="otherName" placeholder="Other Name" value="<% if(supplierDetails !== null) { %>
                                <%= supplierDetails.SupplierOtherName %>
                    <% } %>">
                            </div>
                            </div>
                            <div class="col-md-6 row"> 
                              
                              </div>
                              <div class="col-md-6 row"> 
                                <label for="houseNo" class="col-sm-3 col-form-label">House No</label>
                                <div class="col-sm-9">
                                  <input name="houseNo" contenteditable="true" class="form-control" id="houseNo" placeholder="House Number" value="<% if(supplierDetails !== null) { %>
                                    <%= supplierDetails.HouseNo %>
                        <% } %>">
                                </div>
                                </div>
                                <div class="col-md-6 row"> 
                                  <label for="city" class="col-sm-3 col-form-label">City</label>
                                  <div class="col-sm-9">
                                    <input name="city" contenteditable="true" class="form-control" id="city" placeholder="City of Residence" value="<% if(supplierDetails !== null) { %>
                                      <%= supplierDetails.City %>
                          <% } %>">
                                  </div>
                                  </div>
                                  <div class="col-md-6 form-group row"> 
                                    <label for="street" class="col-sm-3 col-form-label">Street</label>
                                    <div class="col-sm-9">
                                      <input name="street" contenteditable="true" class="form-control" id="street" placeholder="Street" value="<% if(supplierDetails !== null) { %>
                                        <%= supplierDetails.Street %>
                            <% } %>">
                                      
                                    </div>
                                    </div>
                                    <div class="col-md-6 row"> 
                                      <label for="state"  class="col-sm-3 col-form-label">State</label>
                                      <div class="col-sm-9">
                                        <input name="state" contenteditable="true" class="form-control" id="state" placeholder="State of Residence" value="<% if(supplierDetails !== null) { %>
                                          <%= supplierDetails.State %>
                              <% } %>">
                                      </div>
                                      </div>
                                      <div class="col-md-6 row"> 
                                        <label for="country" class="col-sm-3 col-form-label">Country</label>
                                        <div class="col-sm-9">
                                          <input name="country" contenteditable="true" class="form-control" id="country" placeholder="Country of residence" value="<% if(supplierDetails !== null) { %>
                                            <%= supplierDetails.Country %>
                                <% } %>">
                                        </div>
                                        </div>
                        
                     
                        </div>
                      
                  
                    <button type="submit" formaction="edit-supplier" class="btn btn-primary mr-2">Update Record</button>
                    <button class="btn btn-warning">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer -->
        <%- include('footer') %>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="vendors/base/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="js/off-canvas.js"></script>
  <script src="js/hoverable-collapse.js"></script>
  <script src="js/template.js"></script>
  <script src="js/supplier.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
</body>

</html>
